:root {
  font-size: 62.5%;/* 1rem = 10px */
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-21: 2.1rem;
  --fs-24: 2.4rem;
  --fs-30: 3rem;
  --fs-36: 3.6rem;
  --fs-90: 9rem;
  /* font-weight */
  --fw-400: 400;
  --fw-700: 700;
  /* font-family */
  --ff-normal: 'Montserrat', sans-serif;
  --ff-title: 'Oswald', sans-serif;
  /* colors */
  --clr-primary: #3B4050;
  --clr-primary-dark: #2E323F;
  --crl--primary-light: #6F737F;
  --clr-white: white;
  --crl-off-white: #f1f1f1;
  --crl-brown-light: #A59678;
}

/* ---------- reset ---------- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- general settings ---------- */
body {
  font-family: var(--ff-normal);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
}

section,
footer {
  padding-block: var(--fs-90);
}

h1, h2, h3 {
  font-family: var(--ff-title);
  font-weight: 700;
}

p {
  margin-block: var(--fs-24);
  line-height: 1.5;
  color: var(--clr-primary-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: var(--crl-brown-light);
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  position: relative;
}

.col {
  text-align: center;
  margin-block: var(--fs-21);
  padding: 2em;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--ff-title);
  font-size: var(--fs-24);
  background-color: var(--crl-brown-light);
  color: var(--clr-white);
  padding: .25em 2em;
  border-radius: 10rem;
  transition: opacity 250ms ease;
}

.btn:hover,
.btn:focus {
  opacity: .65;
}

/* ---------- header ---------- */
header {
  background-color: var(--clr-primary-dark);
  padding-block: var(--fs-30);
}

/* ---------- navigation ---------- */
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  position: absolute;
  right: 0;
  transition: opacity 250ms ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin-inline: auto;
  height: 3px;
  background-color: var(--clr-white);
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav__list {
  text-align: center;
}

.nav__list--main {
  margin-bottom: 2em;
}

.list__item {
  margin-block: 1em;
}

.nav__link {
  font-family: var(--ff-title);
  font-weight: var(--fw-700);
  font-size: var(--fs-18);
  text-transform: uppercase;
  color: var(--clr-white);
  transition: opacity 250ms ease;
}

.nav__link:hover,
.nav__link:focus {
  opacity: .65;
}

.nav__link--btn {
  background-color: var(--crl-brown-light);
  padding: .25em 1em;
  border-radius: 10rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

/* ---------- hero ---------- */
.hero {
  background-color: var(--clr-primary);
  padding-block: 10rem;
}

.hero__title {
  font-size: calc(var(--fs-36) + var(--fs-18));
  color: var(--clr-white);
  line-height: 1;
}

.hero__text {
  color: var(--clr-white);
  font-size: var(--fs-18);
}